{% extends "base.jinja" %}
{% block content %}
<div class="form">
    <div class = "content-section">
        <form action="" method="POST">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
            <div class="form-group">
                {{form.body.label(class="form-control-label")}}
                {{form.body(class="form-control form-control-lg")}}
            </div>
            </fieldset>
            <div class="form-group">
                {{form.submit(class="btn btn-outline-info")}}
            </div>
        </form>
    </div>
</div>
{% endblock content %}